<!-- The Footer -->

<footer
  aria-label="Site Info"
  class="
    d-flex flex-column justify-content-center text-muted
    flex-lg-row justify-content-lg-between align-items-lg-center pb-lg-3
  "
>
  <p>
    {{ '©' }}
    <time>{{ 'now' | date: '%Y' }}</time>
    {% if "" != site.social.copyrightlink and "" != site.social.name %}
      <a href="{{ site.social.copyrightlink }}">{{- site.social.name -}}</a>.
    {% elsif "" != site.social.name %}
      {{- site.social.name -}}.
    {% endif %}
    {% if "" != site.data.locales[include.lang].copyright.brief and "" != site.data.locales[include.lang].copyright.verbose %}
      <span
        data-bs-toggle="tooltip"
        data-bs-placement="top"
        title="{{ site.data.locales[include.lang].copyright.verbose }}"
      >
        {{- site.data.locales[include.lang].copyright.brief -}}
      </span>
    {% elsif "" != site.data.locales[include.lang].copyright.brief %}
      {{- site.data.locales[include.lang].copyright.brief -}}
    {% endif %}
  </p>

  {% if "" != site.data.locales[include.lang].meta %}
    <p>
      {%- capture _tos -%}
        <a href="{{ site.baseurl }}/testtab/">Terms of Use</a>
      {%- endcapture -%}

      {{ site.data.locales[include.lang].meta | replace: ':TERMSOFUSE', _tos }}
    </p>
  {% endif %}
</footer>
